body {
  background-color: #778899;
}

.cabeçalho {
 padding: 25px;
 background-color: #1C1C1C;
 position: relative;
 color: #DAA520;
 font-size: 20px;
 font-family: Times New Roman;
}

.contatos2 {
  height: 35px;
  width: 300px;
  margin: 0px;
  padding: 10px;
  background-color: #1C1C1C;
  color: #DAA520;
}

.menu {
    display: flex;
    gap: 25px; 
}

.amigos {
    background-color: #363636;
    height: 450px;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card_pessoas {
    padding: 10px;
    font-size: 20px;
    color: #F0E68C;
    background-color: #1C1C1C;
    width: 100px;
    height: 15px;
}

.deco1 {
    background-color: #363636;
    height: 600px;
    width: 300px;
    padding-right: 8.7%;
}

.perfil {
    flex-direction: row;
    display: flex;
    gap: 14%;
}

.infos {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.deco2{
    height: 80px;
    width: 468px;
    padding: 10px;
    background-color: #363636;
    font-size: 60px;
    color: rgb(255, 244, 244);
    display: flex;
    justify-content: center;
    color: #DAA520;
    position: relative;
    left: -113px;
    top: -80px;
}

.deco3 {
    height: 300px;
    width: 468px;
    padding: 10px;
    background-color: #778899;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    gap: 10px;
    color: #F0E68C;
    position: relative;
    left: -113px;
    top: -80px;
}

.foto_perfil {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: rgb(255, 217, 171);
    float: left;
    object-fit: cover;
}

.rodape {
    background-color: #1C1C1C;
    color: #DAA520;
    padding: 10px;
    text-align: center;
}
